
:root {
  --global-font: 'Montserrat', sans-serif;
  --global-font-color: #374151;
  --global-font-banner-color: #5cbdb9;
  --global-font-text-color: #507977;
  --font-headings: Montserrat;

  /* Font Family */
	--global--font-primary: var(--font-headings, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif);
	--global--font-secondary: var(--font-base, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif);

	/* Font Size */
	--global--font-size-base: 1.25rem;
	--global--font-size-xs: 1rem;
	--global--font-size-sm: 1.125rem;
	--global--font-size-md: 1.25rem;
	--global--font-size-lg: 1.5rem;
	--global--font-size-xl: 2.25rem;
	--global--font-size-xxl: 4rem;
	--global--font-size-xxxl: 5rem;
	--global--font-size-page-title: var(--global--font-size-xxl);
	--global--letter-spacing: normal;

	/* Line Height */
	--global--line-height-body: 1.7;
	--global--line-height-heading: 1.3;
	--global--line-height-page-title: 1.1;

	/* Headings */
	--heading--font-family: var(--global--font-primary);
	--heading--font-size-h6: var(--global--font-size-xs);
	--heading--font-size-h5: var(--global--font-size-sm);
	--heading--font-size-h4: var(--global--font-size-lg);
	--heading--font-size-h3: calc(1.25 * var(--global--font-size-lg));
	--heading--font-size-h2: var(--global--font-size-xl);
	--heading--font-size-h1: var(--global--font-size-page-title);
	--heading--letter-spacing-h6: 0.05em;
	--heading--letter-spacing-h5: 0.05em;
	--heading--letter-spacing-h4: var(--global--letter-spacing);
	--heading--letter-spacing-h3: var(--global--letter-spacing);
	--heading--letter-spacing-h2: var(--global--letter-spacing);
	--heading--letter-spacing-h1: var(--global--letter-spacing);
	--heading--line-height-h6: var(--global--line-height-heading);
	--heading--line-height-h5: var(--global--line-height-heading);
	--heading--line-height-h4: var(--global--line-height-heading);
	--heading--line-height-h3: var(--global--line-height-heading);
	--heading--line-height-h2: var(--global--line-height-heading);
	--heading--line-height-h1: var(--global--line-height-page-title);
	--heading--font-weight: normal;
	--heading--font-weight-page-title: 300;
	--heading--font-weight-strong: 600;

	/* Block: Latest posts */
	--latest-posts--title-font-family: var(--heading--font-family);
	--latest-posts--title-font-size: var(--heading--font-size-h3);
	--latest-posts--description-font-family: var(--global--font-secondary);
	--latest-posts--description-font-size: var(--global--font-size-sm);
	--list--font-family: var(--global--font-secondary);
	--definition-term--font-family: var(--global--font-primary);

	/* Colors */
	--global--color-black: #000;
	--global--color-dark-gray: #28303d;
	--global--color-gray: #39414d;
	--global--color-light-gray: #f0f0f0;
	--global--color-green: #d1e4dd;
	--global--color-blue: #d1dfe4;
	--global--color-purple: #d1d1e4;
	--global--color-red: #e4d1d1;
	--global--color-orange: #e4dad1;
	--global--color-yellow: #eeeadd;
	--global--color-white: #fff;
	--global--color-white-50: rgba(255, 255, 255, 0.5);
	--global--color-white-90: rgba(255, 255, 255, 0.9);
	--global--color-primary: var(--global--color-dark-gray);

	/* Body text color, site title, footer text color. */
	--global--color-secondary: var(--global--color-gray);

	/* Headings */
	--global--color-primary-hover: var(--global--color-primary);
	--global--color-background: var(--global--color-green);

	/* Mint, default body background */
	--global--color-border: var(--global--color-primary);

	/* Used for borders (separators) */

	/* Spacing */
	--global--spacing-unit: 20px;
	--global--spacing-measure: unset;
	--global--spacing-horizontal: 25px;
	--global--spacing-vertical: 30px;

	/* Elevation */
	--global--elevation: 1px 1px 3px 0 rgba(0, 0, 0, 0.2);

	/* Forms */
	--form--font-family: var(--global--font-secondary);
	--form--font-size: var(--global--font-size-sm);
	--form--line-height: var(--global--line-height-body);
	--form--color-text: var(--global--color-dark-gray);
	--form--color-ranged: var(--global--color-secondary);
	--form--label-weight: 500;
	--form--border-color: var(--global--color-secondary);
	--form--border-width: 3px;
	--form--border-radius: 0;
	--form--spacing-unit: calc(0.5 * var(--global--spacing-unit));

	/* Cover block */
	--cover--height: calc(15 * var(--global--spacing-vertical));
	--cover--color-foreground: var(--global--color-white);
	--cover--color-background: var(--global--color-black);

	/* Buttons */
	--button--color-text: var(--global--color-background);
	--button--color-text-hover: var(--global--color-secondary);
	--button--color-text-active: var(--global--color-secondary);
	--button--color-background: var(--global--color-secondary);
	--button--color-background-active: var(--global--color-background);
	--button--font-family: var(--global--font-primary);
	--button--font-size: var(--global--font-size-base);
	--button--font-weight: 500;
	--button--line-height: 1.5;
	--button--border-width: 3px;
	--button--border-radius: 0;
	--button--padding-vertical: 15px;
	--button--padding-horizontal: calc(2 * var(--button--padding-vertical));

	/* entry */
	--entry-header--color: var(--global--color-primary);
	--entry-header--color-link: currentColor;
	--entry-header--color-hover: var(--global--color-primary-hover);
	--entry-header--color-focus: var(--global--color-secondary);
	--entry-header--font-size: var(--heading--font-size-h2);
	--entry-content--font-family: var(--global--font-secondary);
	--entry-author-bio--font-family: var(--heading--font-family);
	--entry-author-bio--font-size: var(--heading--font-size-h4);

	/* Header */
	--branding--color-text: var(--global--color-primary);
	--branding--color-link: var(--global--color-primary);
	--branding--color-link-hover: var(--global--color-secondary);
	--branding--title--font-family: var(--global--font-primary);
	--branding--title--font-size: var(--global--font-size-lg);
	--branding--title--font-size-mobile: var(--heading--font-size-h4);
	--branding--title--font-weight: normal;
	--branding--title--text-transform: uppercase;
	--branding--description--font-family: var(--global--font-secondary);
	--branding--description--font-size: var(--global--font-size-sm);
	--branding--description--font-family: var(--global--font-secondary);
	--branding--logo--max-width: 300px;
	--branding--logo--max-height: 100px;
	--branding--logo--max-width-mobile: 96px;
	--branding--logo--max-height-mobile: 96px;

	/* Main navigation */
	--primary-nav--font-family: var(--global--font-secondary);
	--primary-nav--font-family-mobile: var(--global--font-primary);
	--primary-nav--font-size: var(--global--font-size-md);
	--primary-nav--font-size-sub-menu: var(--global--font-size-xs);
	--primary-nav--font-size-mobile: var(--global--font-size-sm);
	--primary-nav--font-size-sub-menu-mobile: var(--global--font-size-sm);
	--primary-nav--font-size-button: var(--global--font-size-xs);
	--primary-nav--font-style: normal;
	--primary-nav--font-style-sub-menu-mobile: normal;
	--primary-nav--font-weight: normal;
	--primary-nav--font-weight-button: 500;
	--primary-nav--color-link: var(--global--color-primary);
	--primary-nav--color-link-hover: var(--global--color-primary-hover);
	--primary-nav--color-text: var(--global--color-primary);
	--primary-nav--padding: calc(0.66 * var(--global--spacing-unit));
	--primary-nav--border-color: var(--global--color-primary);

	/* Pagination */
	--pagination--color-text: var(--global--color-primary);
	--pagination--color-link-hover: var(--global--color-primary-hover);
	--pagination--font-family: var(--global--font-secondary);
	--pagination--font-size: var(--global--font-size-lg);
	--pagination--font-weight: normal;
	--pagination--font-weight-strong: 600;

	/* Footer */
	--footer--color-text: var(--global--color-primary);
	--footer--color-link: var(--global--color-primary);
	--footer--color-link-hover: var(--global--color-primary-hover);
	--footer--font-family: var(--global--font-primary);
	--footer--font-size: var(--global--font-size-sm);

	/* Block: Pull quote */
	--pullquote--font-family: var(--global--font-primary);
	--pullquote--font-size: var(--heading--font-size-h3);
	--pullquote--font-style: normal;
	--pullquote--letter-spacing: var(--heading--letter-spacing-h4);
	--pullquote--line-height: var(--global--line-height-heading);
	--pullquote--border-width: 3px;
	--pullquote--border-color: var(--global--color-primary);
	--pullquote--color-foreground: var(--global--color-primary);
	--pullquote--color-background: var(--global--color-background);
	--quote--font-family: var(--global--font-secondary);
	--quote--font-size: var(--global--font-size-md);
	--quote--font-size-large: var(--global--font-size-xl);
	--quote--font-style: normal;
	--quote--font-weight: 700;
	--quote--font-weight-strong: bolder;
	--quote--font-style-large: normal;
	--quote--font-style-cite: normal;
	--quote--line-height: var(--global--line-height-body);
	--quote--line-height-large: 1.35;
	--separator--border-color: var(--global--color-border);
	--separator--height: 1px;

	/* Block: Table */
	--table--stripes-border-color: var(--global--color-light-gray);
	--table--stripes-background-color: var(--global--color-light-gray);
	--table--has-background-text-color: var(--global--color-dark-gray);

	/* Widgets */
	--widget--line-height-list: 1.9;
	--widget--line-height-title: 1.4;
	--widget--font-weight-title: 700;
	--widget--spacing-menu: calc(0.66 * var(--global--spacing-unit));

	/* Admin-bar height */
	--global--admin-bar--height: 0px;
}

/**
 * Reset specific elements to make them easier to style in other contexts.
 */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
form,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	margin: 0;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

/**
 * Apply generic border-box to all elements.
 * See:
 * https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
html {

	/* Apply border-box across the entire page. */
	box-sizing: border-box;
	font-family: var(--global--font-secondary);
	line-height: var(--global--line-height-body);
}

/**
 * Relax the definition a bit, to allow components to override it manually.
 */
*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-size: var(--global--font-size-base);
	font-weight: normal;
	color: var(--global--color-primary);
	text-align: left;
	background-color: var(--global--color-background);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h2,
h3,
a {
	color: var(--global-font-color);
}

a {
	text-decoration: none;
}

.site-logo {
	margin: 0;
	font-size: 1.45em;
}

.nav-menu {
	margin-top: 5px;

}
.logo a,
.nav-menu a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.nav-menu a {
	color: var(--global-font-color);
	font-size: .99em;
}

.nav-menu a:hover {
	color: var(--global-font-color);
}

.site-header {
	padding-top: .5em;
	padding-bottom: .5em;
	background-color: transparent;
}


/* ================================= 
  Media Queries
==================================== */




	.site-header,
	.nav-menu {
		display: flex;
	}
	.site-header {
		flex-direction: column;
		align-items: center;
		margin: 0 auto;
	}



@media (min-width: 1025px) {
	.site-header {
		flex-direction: row;
		justify-content: space-between;
	}

}



.site-branding {
    display: flex;
}

.site-nav-text {
    display: flex;
    flex-direction: column;
}

.site-title {
    margin: 5px 15px;
    font-family: var(--global-font);
    font-size: 1.2rem;
}

@media (min-width: 1025px) {
    .site-title {
        margin: 5px 15px;
        font-family: var(--global-font);
        font-size: 1.4rem;
		font-weight: 400;

}

}

 .site-logo {
    margin: 0px 15px;
    max-width: 75px;
    max-height: 50px;
} 

/**
* Banner
* Banner styles for banner above nav
**/

.banner {
    background-color: var(--global-font-banner-color);
}


.main-banner {
	display: flex;
	justify-content: space-between;
}


/* Social Icons ------------------------------ */

ul.social-icons {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row-reverse;
	margin: -0.9rem 0 0 -0.9rem;
	width: calc(100% + 0.9rem);
}

ul.social-icons li {
	margin: 0.9rem 0 0 0.9rem;
}

.social-icons a {
	color: #fff;
	display: flex;
	justify-content: center;
	padding: 0;
	text-decoration: none;
	transition: transform 0.15s ease-in-out;
	width: 2rem;
}

.social-icons a:focus,
.social-icons a:hover {
	transform: scale(1.1);
	text-decoration: none;
}


/* Banner SOCIAL */

svg * {
	fill: currentColor;
}


.svg-icon {
	color: #fff;
}
.banner-social-wrapper {
	margin: 0;
	width: 100%;
	display: flex;
	padding: 0px 5px;
}

.has-banner-menu .banner-social-wrapper {
	flex-shrink: 0;
	margin-left: 1rem;
	width: 50%;
}

ul.banner-social {
	margin: -0.5rem 0 0 -0.5rem;
}

.has-banner-menu .banner-social {
	justify-content: flex-end;
}

ul.banner-social li {
	margin: 0.5rem 0 0 0.5rem;
}

.banner-social a {
	color: #fff;
}

.banner-social a::before {
	font-size: 1.6rem;
}

.menu-social-container {
	display: flex;
}

/* Footer */

.site-footer {
	display: flex;
	padding: 2rem 4rem;
}

.footer-navigation {
}

.site-info {
	border: 2px solid blue;
}

.footer-navigation-wrapper {
	font-size: 1rem;
	font-weight: 300;
	margin-left: 1rem;
}


/**
* Primary Sub-Menu Styles
*
**/


ul.nav-menu  {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.nav-menu  > li {
  color: #fff;
  display: block;
  float: left;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}
  
.nav-menu  > li a {
  color: #374151;
}

ul.nav-menu li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.primary-menu-container > ul li ul {
  background: #fff;
  visibility: hidden;
  border: 0.5px solid #999999;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  right: 0;
  display: none;
}

.primary-menu-container > ul li:hover > ul,
.primary-menu-container > ul li:focus-within > ul, /* this is the line we add */
.primary-menu-container > ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul.primary-menu-container > li ul li {
  clear: both;
  width: 100%;
}

@media (max-width: 780px) {
	ul.nav-menu {
	display:flex;
	flex-direction: column;
}
}


div.home-main-container {
	display: flex;
    justify-content: center;
	margin: 5rem 0rem;
}


/* 
* tw-container
*/

.home-container {
  width: 100%;
}

@media (min-width: 640px) {
  .home-container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .home-container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .home-container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .home-container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .home-container {
    max-width: 1536px;
  }
}


.smooch-text {
    font-family: Smooch,cursive;
    letter-spacing: 8px;
    text-shadow: 1px 1px 2px #025754, 0 0 2em #63e6e1, 0 0 3em #5cbdb9;
    color: rgb(92 189 185/1);
	font-weight: 400;
}


.centering-container {
	display: flex;
	justify-content: center;
	margin: 5rem 0rem;
	padding: 0px 2rem;
}

.centering-container-col {
	display: flex;
	flex-direction: column;
}

.centering-container-col > div {
	margin: 0px auto;
}

.icon-centering-container {
    display: flex;
    justify-content: end;
}

/* Mobile responsiveness */


.service-button  {
	margin-top: 1.5rem;
	display: flex;
	justify-content: center !important;
}

.seo-button {
	margin-top: 1.5rem;
}

.services-container-body > div > h2  {
	text-align: center;
	font-size: 1.8rem;
}

.services-container-body > div > p  {
	text-align: center;
	font-size: 1.2rem;
}

.slidein, .slidein-2 {
	display: flex;
	justify-content: center;
	padding: 3rem;
}

.services-mobile {
	display: flex;
	flex-direction: column-reverse;
	flex-wrap: nowrap;
}


@media (min-width: 600px) {
	.services-mobile {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
}
}

/* Above mobile responsiveness */

@media (min-width: 768px) {
	.services-container-body > div > h2 {
	font-family: var(--heading--font-family);
	font-weight: 700;
	font-size: 2rem;
	text-align: left;
}


.services-container-body > div > p  {
	text-align: left;
	font-size: 1rem;
}
.slidein {
  animation-duration: 1.3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes slidein {
  from {
    margin-left:0%;
  }

  to {
    margin-left: 8%;
  }
}

.slidein-2 {
  animation-duration: 1.3s;
  animation-name: slidein-2;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes slidein-2 {
  from {
    margin-left:8%;
  }

  to {
    margin-left: 0%;
  }
}

.service-button  {
	margin-top: 1.5rem;
	display: flex;
	justify-content: flex-start !important;
}

}


@media (min-width: 1024px) {
	.services-container-body > div > h2 {
	font-family: var(--heading--font-family);
	font-weight: 700;
	font-size: 3rem;
  line-height: 1;
	text-align: left;
}


.services-container-body > div > p  {
	text-align: left;
	font-size: 1.25rem;
    line-height: 1.75rem;
	color: var(--global-font-text-color);
}

.hero-text-container > div > h2 {
	font-family: var(--heading--font-family);
	font-weight: 700;
	font-size: 4.5rem;
    line-height: 1;
	text-align: left;
}

.hero-text-container > div > p  {
	text-align: left;
	margin: 2rem 0rem;
	font-size: 1.25rem;
    line-height: 1.75rem;
	color: var(--global-font-text-color);
}

}

.service-button > div > a  { 
 	padding: 0.5rem 1rem !important;
}

.web-frameworks-icons {
	margin: 2rem 0rem;
	flex-wrap: nowrap;
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	gap: 2rem;
}

.webframe-icon {
	margin-left: 0rem !important;
}


/* Hero Styles */
.hero-buttons {
	display:flex;
	justify-content: center;
	margin: 2.3rem 0rem;
}

.hero-buttons > div > a {
	padding: 0.5rem 1rem !important;
}

.hero-container-center {
	text-align: center;
}

.hero-text-container {
	display:flex;
	flex-direction: column;
}


.hero-text-container > div > h2 {
	font-family: var(--heading--font-family);
	font-weight: 700;
	font-size: 2.8rem;
  	line-height: 1;
	text-align: center;
}

@media (min-width: 768px) {

	.service-button > div > a  {
  transition: all 0.5s;
  cursor: pointer;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
}

.service-button > div > a{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.service-button > div > a:after {
  content: '»';
  position: absolute;
  opacity: 0;  
  top: 14px;
  right: -20px;
  transition: 0.5s;
}

.service-button > div > a:hover{
  padding-right: 24px;
  padding-left: 15px;
}

.service-button > div > a:hover:after {
  opacity: 1;
  right: 10px;
}

.hero-text-container {
	display:flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.hero-buttons {
	display:flex;
	justify-content: start;
	margin: 2.3rem 0rem;
}

.hero-text-container > div > h2 {
	font-family: var(--heading--font-family);
	font-weight: 700;
	font-size: 3rem;
  	line-height: 1;
	text-align: left;
}


}



@media (min-width: 1024px) {

.hero-text-container > div > h2 {
	font-family: var(--heading--font-family);
	font-weight: 700;
	font-size: 4.5rem;
    line-height: 1;
	text-align: left;
}

.hero-text-container > div > p  {
	text-align: left;
	margin: 2rem 0rem;
	font-size: 1.25rem;
    line-height: 1.75rem;
	color: var(--global-font-text-color);
}

}