
:root {
  --global-font: 'Montserrat', sans-serif;
  --global-font-color: #374151;
}

* {
	box-sizing: border-box;
}
body {
	font-family: var(--global-font);
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


h2,
h3,
a {
	color: var(--global-font-color);
}

a {
	text-decoration: none;
}



.site-logo {
	margin: 0;
	font-size: 1.45em;
}

.nav-menu {
	margin-top: 5px;

}
.logo a,
.nav-menu a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.nav-menu a {
	color: var(--global-font-color);
	font-size: .99em;
}

.nav-menu a:hover {
	color: var(--global-font-color);
}



.site-header {
	padding-top: .5em;
	padding-bottom: .5em;
	background-color: transparent;
}


/* ================================= 
  Media Queries
==================================== */




	.site-header,
	.nav-menu {
		display: flex;
	}
	.site-header {
		flex-direction: column;
		align-items: center;
		margin: 0 auto;
	}



@media (min-width: 1025px) {
	.site-header {
		flex-direction: row;
		justify-content: space-between;
	}

}



.site-branding {
    display: flex;
}

.site-nav-text {
    display: flex;
    flex-direction: column;
}

.site-title {
    margin: 5px 15px;
    font-family: var(--global-font);
    font-size: 1.2rem;
}

@media (min-width: 1025px) {
    .site-title {
        margin: 5px 15px;
        font-family: var(--global-font);
        font-size: 2rem;
}

}

 .site-logo {
    margin: 0px 15px;
    max-width: 75px;
    max-height: 50px;
} 

/**
* Banner
* Banner styles for banner above nav
**/

.banner {
    background-color: #5cbdb9;
}


.main-banner {
	display: flex;
	justify-content: space-between;
}


