
:root {
  --global-font: 'Montserrat', sans-serif;
  --global-font-color: #374151;
  --global-font-secondary-color: #6d6d6d;
  --global-font-banner-color: #5cbdb9;
  --global-font-text-color: #507977;
  --font-headings: Montserrat;

  /* Font Family */
	--global--font-primary: var(--font-headings, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif);
	--global--font-secondary: var(--font-base, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif);


	/* Admin-bar height */
	--global--admin-bar--height: 0px;
}

/**
 * Reset specific elements to make them easier to style in other contexts.
 */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
form,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	margin: 0;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

/**
 * Apply generic border-box to all elements.
 * See:
 * https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
html {

	/* Apply border-box across the entire page. */
	box-sizing: border-box;
	font-family: var(--global--font-primary);
	line-height: var(--global--line-height-body);
}

/**
 * Relax the definition a bit, to allow components to override it manually.
 */
*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-size: var(--global--font-size-base);
	font-weight: normal;
	color: var(--global--color-primary);
	text-align: left;
	background-color: #fff;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h2,
h3,
a {
	color: var(--global-font-color);
}

a {
	text-decoration: none;
}

.site-logo {
	margin: 0;
	font-size: 1.45em;
}

.nav-menu {
	margin-top: 5px;

}
.logo a,
.nav-menu a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.nav-menu a {
	color: var(--global-font-color);
	font-size: .99em;
}

.nav-menu a:hover {
	color: var(--global-font-color);
}

.site-header {
	padding-top: .5em;
	padding-bottom: .5em;
	background-color: transparent;
}


	/* HEADER TOGGLES */

	.mobile-search-toggle,
	.mobile-nav-toggle {
		display: none !important;
	}

	.primary-menu-wrapper + .header-toggles {
		margin-left: 3rem;
	}

	.header-toggles {
		display: flex;
		flex-shrink: 0;
		margin-right: -3rem;
	}

	.header-inner .toggle {
		height: 4.4rem;
		padding: 0 3rem;
		position: relative;
		bottom: auto;
		left: auto;
		right: auto;
		top: auto;
		width: auto;
	}

	.header-inner .toggle-wrapper {
		position: relative;
	}

	.header-inner .toggle-wrapper::before {
		background: #dedfdf;
		content: "";
		display: block;
		height: 2.7rem;
		position: absolute;
		left: 0;
		top: calc(50% - 1.35rem);
		width: 0.1rem;
	}

	.header-inner .toggle-wrapper:first-child::before {
		content: none;
	}

	.header-inner .primary-menu-wrapper + .header-toggles .toggle-wrapper:first-child::before {
		content: "";
	}

	.nav-toggle-wrapper:not(.has-expanded-menu) {
		display: none;
	}

	.toggle-inner {
		position: static;
	}

	.toggle-inner .toggle-text {
		left: 0;
		right: 0;
		text-align: center;
		top: calc(100% - 0.3rem);
		width: auto;
	}

	.header-toggles:only-child .nav-toggle .toggle-inner {
		padding-top: 0;
	}

	.header-toggles:only-child .toggle-inner {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
	}

	.header-toggles:only-child .toggle-inner .svg-icon {
		order: 1;
	}

	.header-toggles:only-child .toggle-inner .toggle-text {
		position: static;
		padding-right: 20px;
		font-size: 15px;
		color: inherit;
	}

	
/* Header Toggles ---------------------------- */

.header-toggles {
	display: none;
}

.header-inner .toggle {
	align-items: center;
	display: flex;
	overflow: visible;
	padding: 0 2rem;
}

.header-inner .toggle svg {
	display: block;
	position: relative;
	z-index: 1;
}

.header-inner .toggle path {
	fill: currentColor;
}

.toggle-inner {
	display: flex;
	justify-content: center;
	height: 2.3rem;
	position: relative;
}

.toggle-icon {
	display: block;
	overflow: hidden;
}

.toggle-inner .toggle-text {
	color: #6d6d6d;
	font-size: 1rem;
	font-weight: 600;
	position: absolute;
	top: calc(100% + 0.5rem);
	width: auto;
	white-space: nowrap;
	word-break: break-all;
}

.overlay-header .toggle-text {
	color: inherit;
}

.header-inner .toggle:focus .toggle-text,
.header-inner .toggle:hover .toggle-text {
	text-decoration: underline;
}

/* Search Toggle ----------------------------- */

.search-toggle {
	position: absolute;
	bottom: 0;
	left: 0;
	top: 0;
}

.search-toggle .toggle-icon,
.search-toggle svg {
	height: 2.5rem;
	max-width: 2.3rem;
	width: 2.3rem;
}

/* Navigation Toggle ------------------------- */

.nav-toggle {
	position: absolute;
	bottom: 0;
	right: 0;
	top: 0;
	width: 6.6rem;
}

.nav-toggle .toggle-icon,
.nav-toggle svg {
	height: 0.8rem;
	width: 2.6rem;
}

.nav-toggle .toggle-inner {
	padding-top: 0.8rem;
}

	/* Menu Modal ---------------------------- */

	.menu-modal {
		opacity: 1;
		justify-content: flex-end;
		padding: 0;
		transition: background-color 0.3s ease-in, left 0s 0.3s, right 0s 0.3s;
	}

	.menu-modal.cover-modal {
		background: rgba(0, 0, 0, 0);
	}

	.menu-modal.active {
		background: rgba(0, 0, 0, 0.2);
		transition: background-color 0.3s ease-out;
	}

	.menu-wrapper.section-inner {
		width: calc(100% - 8rem);
	}

	.menu-modal-inner {
		box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.1);
		opacity: 0;
		padding: 0;
		transform: translateX(20rem);
		transition: transform 0.2s ease-in, opacity 0.2s ease-in;
		width: 50rem;
	}

	.menu-modal.active .menu-modal-inner {
		opacity: 1;
		transform: translateX(0);
		transition-timing-function: ease-out;
	}

	.mobile-menu {
		display: none;
	}

	.expanded-menu {
		display: block;
	}

	.menu-bottom {
		padding: 6rem 0;
	}

	.menu-bottom .social-menu {
		justify-content: flex-start;
	}


/* ================================= 
  Media Queries
==================================== */

	.site-header,
	.nav-menu {
		display: flex;
		justify-self: end;
	}

	.site-header {
		flex-direction: row;
		justify-content: space-between;
	}



@media (min-width: 1025px) {
	.site-header {
		flex-direction: row;
		justify-content: space-between;
	}

}



.site-branding {
    display: flex;
}

.site-nav-text {
    display: flex;
    flex-direction: column;
}

.site-title {
    margin: 5px 15px;
    font-family: var(--global-font);
    font-size: 1.2rem;
}

@media (min-width: 1025px) {
    .site-title {
        margin: 5px 15px;
        font-family: var(--global-font);
        font-size: 1.4rem;
		font-weight: 400;

}

}

 .site-logo {
    margin: 0px 15px;
    max-width: 75px;
    max-height: 50px;
} 

/**
* Banner
* Banner styles for banner above nav
**/

.banner {
    background-color: var(--global-font-banner-color);
}


.main-banner {
	display: flex;
	justify-content: space-between;
}


/* Social Icons ------------------------------ */

ul.social-icons {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row-reverse;
	margin: -0.9rem 0 0 -0.9rem;
	width: calc(100% + 0.9rem);
}

ul.social-icons li {
	margin: 0.9rem 0 0 0.9rem;
}

.social-icons a {
	color: #fff;
	display: flex;
	justify-content: center;
	padding: 0;
	text-decoration: none;
	transition: transform 0.15s ease-in-out;
	width: 2rem;
}

.social-icons a:focus,
.social-icons a:hover {
	transform: scale(1.1);
	text-decoration: none;
}


/* Banner SOCIAL */

svg * {
	fill: currentColor;
}


.svg-icon {
	color: #fff;
}
.banner-social-wrapper {
	margin: 0;
	width: 100%;
	display: flex;
	padding: 0px 5px;
}

.has-banner-menu .banner-social-wrapper {
	flex-shrink: 0;
	margin-left: 1rem;
	width: 50%;
}

ul.banner-social {
	margin: -0.5rem 0 0 -0.5rem;
}

.has-banner-menu .banner-social {
	justify-content: flex-end;
}

ul.banner-social li {
	margin: 0.5rem 0 0 0.5rem;
}

.banner-social a {
	color: #fff;
}

.banner-social a::before {
	font-size: 1.6rem;
}

ul.social-menu > .menu-social-container {
display: flex;
	flex-direction: row;
}

/* Footer */

.site-footer {
	display: flex;
	flex-direction: column;
	background-color: #5cbdba27;
}

.main-footer {
	display: flex;
    justify-content: space-around;
	padding-top: 1rem;
	padding-bottom: 2rem;
}

.site-info {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
}

@media (min-width: 768px) {
	.site-footer {
	display: flex;
	flex-direction: column;
    justify-content: space-around;
	padding-top: 2rem;
}
.site-info {
	display: flex;
	flex-direction: row;
}

.site-info > .footer-navigation {
	margin-left: 3rem;
}
}


.footer-navigation-wrapper {
	font-size: 1rem;
	font-weight: 300;
	margin-left: 1rem;
}

.footer-site-logo {
    margin: 15px 15px;
    max-width: 10rem;
    max-height: 6rem;
}

.copyright {
	display: flex;
	justify-content: center;
	font-size: 0.6rem;
	background-color: #5cbdb9;
	color: #fff;
	width: 100%;
	padding: 0.8rem 0rem;
}

.cp-tag {
    padding-right: 1rem;
}

.privacy-policy > a {
    color: #fff;
}

.disclaimer {
    display: none;
}

/**
* Primary Sub-Menu Styles
*
**/


.Navbar__Items,
  .Navbar {
    flex-direction: column;
  }
    
.Navbar__Items {
    display:none;
  }
    
.Navbar__Items--right {
    margin-left:0;
  }
    
.Navbar__ToggleShow {
    display: flex;
	position: absolute;
	background: rgb(238, 238, 238);
	top: 8%;
	width: 100%;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
  }

  
  .menu-button-container #primary-mobile-menu .dropdown-icon.open {
	  position: relative;
	  top: -1px;
	  color:#28303d;
	}
	
  .menu-button-container {
	margin-left: auto;
	font-size: 2rem;
	font-weight: 700;
	background-color: transparent;
	border: none;
	color: #28303d;
	justify-content: right;
	    height: fit-content;
  }
    
.Navbar__Link-toggle {
   display: flex;
   justify-content: start;
    cursor: pointer;
	background: #74bdb6;
    border: none;
    border-radius: 3px;
}
   

@media (min-width: 768px) {
	.primary-navigation {
	display: block;
}

.Navbar__Link-toggle {
  display: none;
}

.Navbar__ToggleShow {
	position: relative;
	border:rgba(0, 0, 0, 0);
	background: transparent;
	width: auto;
box-shadow: none;
}

}

ul.nav-menu  {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.nav-menu  > li {
  color: #fff;
  display: block;
  float: left;
  padding: 0rem;
  margin: 0.22rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}
  
.nav-menu  > li a {
  color: #374151;
   padding: 0rem;
   margin: 0.5rem;
}

ul.nav-menu li:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* Submenu */

.primary-menu-container > ul li ul {
  background: transparent;
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  transition: visibility 3s ease;
  display: none;
}

.primary-menu-container > ul li:hover > ul,
.primary-menu-container > ul li:focus-within > ul, /* this is the line we add */
.primary-menu-container > ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul.primary-menu-container > li ul li {
  clear: both;
  width: 100%;
}

ul.nav-menu {
display:flex;
flex-direction: column;
text-transform: capitalize;
}

div.home-main-container {
	display: flex;
    justify-content: center;
	margin: 5rem 0rem;
}

@media (min-width: 768px) {
	ul.nav-menu {
display:flex;
flex-direction: row;
justify-content: end;
}

ul.nav-menu > li > a {
text-transform: capitalize;
}

ul.nav-menu > li > ul > li > a {
text-transform: capitalize;
}

 .menu-button-container {
	  display: flex;
	  justify-content: center;
	  width: auto;
	margin-left: auto;
	font-size: 2rem;
	font-weight: 700;
	background-color: transparent;
	border: none;
	color: #28303d;
  }

  .primary-menu-container > ul li ul {
	position: absolute;
  }
}



/* 
* tw-container
*/

.home-container {
  width: 100%;
}

@media (min-width: 640px) {
  .home-container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .home-container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .home-container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .home-container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .home-container {
    max-width: 1536px;
  }
}


.smooch-text {
    font-family: Smooch,cursive;
    letter-spacing: 8px;
    text-shadow: 1px 1px 2px #025754, 0 0 2em #63e6e1, 0 0 3em #5cbdb9;
    color: rgb(92 189 185/1);
	font-weight: 400;
}

p.services-text-body {
	color: var(--global-font-secondary-color);
	width: fit-content;
	margin: 1.875rem 0rem;
}



.centering-container {
	display: flex;
	justify-content: center;
	margin: 5rem 0rem;
	padding: 0px 2rem;
}

.centering-container-col {
	display: flex;
	flex-direction: column;
}

.centering-container-col > div {
	margin: 0px auto;
}

.icon-centering-container {
    display: flex;
    justify-content: end;
}

/* Mobile responsiveness */


.service-button  {
	margin-top: 1.5rem;
	display: flex;
	justify-content: center !important;
}

.seo-button {
	margin-top: 1.5rem;
}

.services-container-body > div > h2  {
	text-align: center;
	font-size: 1.8rem;
}

.services-container-body > div > p  {
	text-align: center;
	font-size: 1.2rem;
}

.slidein, .slidein-2 {
	display: flex;
	justify-content: center;
	padding: 3rem;
}

.services-mobile {
	display: flex;
	flex-direction: column-reverse;
	flex-wrap: nowrap;
}


@media (min-width: 600px) {
	.services-mobile {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
}
}

/* Above mobile responsiveness */

@media (min-width: 768px) {
	.services-container-body > div > h2 {
	font-family: var(--heading--font-family);
	font-weight: 700;
	font-size: 2rem;
	text-align: left;
}


.services-container-body > div > p  {
	text-align: left;
	font-size: 1rem;
}
.slidein {
  animation-duration: 1.3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes slidein {
  from {
    margin-left:0%;
  }

  to {
    margin-left: 8%;
  }
}

.slidein-2 {
  animation-duration: 1.3s;
  animation-name: slidein-2;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes slidein-2 {
  from {
    margin-left:8%;
  }

  to {
    margin-left: 0%;
  }
}

.service-button  {
	margin-top: 1.5rem;
	display: flex;
	justify-content: flex-start !important;
}

}


@media (min-width: 1024px) {
	.services-container-body > div > h2 {
	font-family: var(--heading--font-family);
	font-weight: 700;
	font-size: 3rem;
  line-height: 1;
	text-align: left;
}


.services-container-body > div > p  {
	text-align: left;
	font-size: 1.25rem;
    line-height: 1.75rem;
	color: var(--global-font-secondary-color);
}

.hero-text-container > div > h2 {
	font-family: var(--heading--font-family);
	font-weight: 700;
	font-size: 4.5rem;
    line-height: 1;
	text-align: left;
}

.hero-text-container > div > p  {
	text-align: left;
	margin: 2rem 0rem;
	font-size: 1.25rem;
    line-height: 1.75rem;
	color: var(--global-font-text-color);
}

}

/* Services */

.services-offer-tag {
	color: var(--global-font-banner-color);
	background-color: #5cbdba33;
	width: max-content;
	margin: 0px auto;
	border-radius: 9999px;
	font-size: 1rem;
	padding: 0.5rem 1rem;
	font-family: Montserrat;
}

.services-headshot > figure > figcaption{
	width: max-content;
}

.service-button > div > a  { 
 	padding: 0.5rem 1rem !important;
}

.web-frameworks-icons {
	margin: 2rem 0rem;
	flex-wrap: nowrap;
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	gap: 2rem;
}

.webframe-icon {
	margin-left: 0rem !important;
}


/* Hero Styles */
.hero-buttons {
	display:flex;
	justify-content: center;
	margin: 2.3rem 0rem;
}

.hero-buttons > div > a {
	padding: 0.5rem 1rem !important;
}

.hero-container-center {
	text-align: center;
}

.hero-text-container {
	display:flex;
	flex-direction: column;
}


.hero-text-container > div > h2 {
	font-family: var(--heading--font-family);
	font-weight: 700;
	font-size: 2.8rem;
  	line-height: 1;
	text-align: center;
}

@media (min-width: 768px) {
	.hero-container-center {
	text-align: left;
}

	.service-button > div > a  {
  transition: all 0.5s;
  cursor: pointer;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
}

.service-button > div > a{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.service-button > div > a:after {
  content: '»';
  position: absolute;
  opacity: 0;  
  top: -7px;
  right: 20px;
  transition: 0.5s;
  font-size: 2rem;
}

.service-button > div > a:hover{
  padding-right: 25px !important;
  padding-left: 15px !important;
}

.service-button > div > a:hover:after {
  opacity: 1;
  right: 5px;
}

.hero-text-container {
	display:flex;
	flex-direction: row;
	flex-wrap: nowrap;
	text-align: left;
}

.hero-buttons {
	display:flex;
	justify-content: start;
	margin: 2.3rem 0rem;
}

.hero-text-container > div > h2 {
	font-family: var(--heading--font-family);
	font-weight: 700;
	font-size: 3rem;
  	line-height: 1;
	text-align: left;
}

}


@media (min-width: 1024px) {

.hero-text-container > div > h2 {
	font-family: var(--heading--font-family);
	font-weight: 700;
	font-size: 4.5rem;
    line-height: 1;
	text-align: left;
}


.hero-text-container > div > p  {
	text-align: left;
	margin: 2rem 0rem;
	font-size: 1.25rem;
    line-height: 1.75rem;
	color: var(--global-font-secondary-color);
}

}

/* Footer Social */

.footer-social-menu > div > li > a {
	align-items: center;
	background: var(--global-font-banner-color);
	border-radius: 50%;
	color: #fff;
	display: flex;
	height: 4.4rem;
	justify-content: center;
	padding: 0;
	text-decoration: none;
	transition: transform 0.15s ease-in-out;
	width: 4.4rem;
}

.footer-social-menu > div > li > a > .svg-icon{
	color: #ffffff;
	margin: 0.5rem;
}

ul.footer-social-menu > .menu-social-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 1.875rem;
}

.menu-social-container > li {
	margin: 1rem 0rem;
}

@media (min-width: 768px) {
	ul.footer-social-menu >  .menu-social-container {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.menu-social-container > li {
	margin: 0rem 1rem;
}
}


/* Contact Form */
.contact-img > figure {
    margin: 1rem!important;
}

div.wpforms-container > form > div > div > div.wpforms-field-row {
	display: flex;
	flex-direction: column;
}

div.wpforms-container > form > div > div > div.wpforms-field-row {
	display: flex;
	flex-direction: column;
}

 div.wpforms-field-row > .wpforms-field-row-block {
	display: flex;
	flex-direction: column;
	margin: 0rem !important;
}

.wpforms-field-row-block > input {
	    border-radius: 0.375rem !important;
}

input#wpforms-406-field_0, #wpforms-406-field_0-last, input#wpforms-406-field_1, textarea#wpforms-406-field_2 {
	    border-radius: 0.375rem !important;
    border-color: rgb(157 204 202/1);
	max-width: 100% !important;
}

button#wpforms-submit-406 {
	border-radius: 9999px;
	background-color: #28303d;
	border: 2px solid #28303d;
	color: #fff;
	transition: background-color 5s;
	transition: color 1s;
}

button#wpforms-submit-406:hover {
	border-radius: 9999px;
	background-color: #fff;
	color: #28303d;
}

.wpforms-field-row-block, .wpforms-field-row {
	max-width: 100% !important;
	width: 100% !important;
}

.center-contact {
	margin: 4rem auto;
}

.contact-image {
	padding: 2rem 3rem;
	max-width: 50%;
	max-height: 100%;
}

.contact-body {
	max-width: 70%;
}

.overview-hero {
	margin: 0px auto;
	padding: 0rem 1.2rem;
	text-align: center;
}

.overview-head {
	font-size: 2rem;
	padding: 0rem 1.2rem;
}

.office-img > figure {
	margin: 0rem !important;
}

img.wp-image-474 {
	margin-top: 2rem;
}

@media (min-width: 768px) {
	.overview-hero {
	margin: 0px auto;
	padding: 0rem 1.2rem;
	text-align: left;
}
.overview-hero > div > p {
font-size: 1.5rem;
  line-height: 2rem;
}

.overview-head {
	font-size: 3rem;
  line-height: 1;
}
}


/* checkout */
.pricing-header-text, .portfolio-header {
	  font-size: 3.75rem;
  line-height: 1;
}

.pricing-description {
	  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 1rem;
}

.pricing-header-subtext, .portfolio-subheader {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.pricing-center {
	display: flex;
	justify-content: center;
}

.pricing-card {
	padding: 1.875rem;
	border-radius: 10px;
}

.pricing-card-header {
	font-size: 1.875rem;
  line-height: 2.25rem;
}

.pricing-card-subheader {
	 font-size: 3rem;
  line-height: 1;
}

.pricing-card-list {
	 font-size: 1.25rem;
  line-height: 1.75rem;
}

.pricing-card-list > li::before {
	 content: "✓";
	 position: relative;
	 padding: 0px 10px;
}

.pricing-card-list > li {
	 padding: 1.5rem 0rem;
}

.pricing-card-btn {
	 font-size: 1.25rem;
  line-height: 1.75rem;
}

#blog-btn > a{
	border: 2px solid #ffb647;
  transition: background-color 0.2s ease-in !important;
}
#busi-btn > a {
		border: 2px solid #9dd7d5;
  transition: background-color 0.2s ease-in !important;
}

#upg-btn > a {
		border: 2px solid #b3a3ff;
  transition: background-color 0.2s ease-in !important;
}

#blog-btn > a:hover,
#busi-btn > a:hover,
#upg-btn > a:hover {
  background-color: transparent !important;
}

.pricing-flex {
	display: flex;
	flex-direction: column;
}

.pricing-flex > div {
	margin: 1rem !important;
	
}

.pricing-card-upgrade {
	flex-basis: content!important;
}

@media (min-width: 1024px) {
	.pricing-flex {
		display: flex;
		flex-direction: row;
	}
	.pricing-card-upgrade {
	flex-basis: 0%!important;
}
}


/* Portfolio */

.portfolio-center {
	display: flex;
	justify-content: center;
}

.portfolio-center-col {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.portfolio-cards {
	display: flex;
	flex-direction: column;
}

.portfolio-cards > div {
	margin: 2rem;
}

.portfolio-cards > div {
	flex-basis: content!important;
}

.portfolio-header {
  font-size: 2.25rem;
  line-height: 2.5rem;
    padding: 0rem 1.25rem;
}

.portfolio-subheader {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

@media (min-width: 1024px) {
	.portfolio-cards {
	display: flex;
	flex-direction: column;
}
.portfolio-header {
  font-size: 4.5rem;
  line-height: 1;
  padding: 0rem 1.25rem;
}

.portfolio-subheader {
   font-size: 2.25rem;
  line-height: 2.5rem;
}
}

.portfolio-image > figure > a > img {
	border-radius: 5px !important;
}

.portfolio-image > figure > a> img:hover {
	opacity: 0.5;
}

/* Privacy Policy*/
.privacy-header {
    color: rgb(92 189 185/1);
    font-size: 3.75rem;
    line-height: 1;
        font-weight: 400;
        text-align: center;
        font-family: Smooch,cursive;
    letter-spacing: 8px;
    text-shadow: 1px 1px 2px #025754, 0 0 2em #63e6e1, 0 0 3em #5cbdb9;
}

@media (min-width: 768px) {
    .privacy-header {
    font-size: 4.5rem;
    line-height: 1;
}
}

.privacy-container {
    overflow-y: scroll;
    height: 60vh;
    margin: 0rem 8rem;
}

.home-container-main {
    display: flex;
    justify-content: center;
}

/* Checkout Form */
    .checkout-main {
    padding: 0rem 1rem;
    }

@media (min-width: 768px){
    .checkout-main {
    padding: 0rem 5rem;
    }
}

/* Checkout Form */




input#wpforms-730-field_2,
#wpforms-730-field_2-last,
input#wpforms-730-field_3,
#wpforms-730-field_4,
#wpforms-730-field_6,
#wpforms-730-field_7,
#wpforms-730-field_9-container,
#wpforms-730-field_9,
#wpforms-730-field_10-container {
	    border-radius: 0.375rem !important;
    border-color: rgb(157 204 202/1);
	max-width: 100% !important;
}

button#wpforms-submit-730 {
	border-radius: 9999px;
	background-color: #28303d;
	border: 2px solid #28303d;
	color: #fff;
	transition: background-color 5s;
	transition: color 1s;
}

button#wpforms-submit-730:hover {
	border-radius: 9999px;
	background-color: #fff;
	color: #28303d;
}

#checkout-banner {
    padding: 5rem 1.5rem;
}


#checkout-banner-h {
      font-size: 2.25rem;
  line-height: 2.5rem;
  padding: 0rem 1rem;
}
#checkout-banner-p {
font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0rem 1rem;
}

@media (min-width: 768px) {
    #checkout-banner {
    padding: 10rem 0rem;
}
    #checkout-banner-h {
 font-size: 1.875rem;
  line-height: 2.25rem;
  padding: 0rem 3rem;
}
#checkout-banner-p {
      font-size: 2.25rem;
  line-height: 2.5rem;
}
}


